* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000814;
}

section {
  margin-top: 1rem;
  background-color: #001d3d;
  padding: 1rem;
  border-radius: 0.5rem;
}

.container {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 10vh;
}

.loading {
  color: #fff;
  font-size: 1.5rem;
}
